{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}


<div class="col-start-1 col-span-2 m-10">
    {% if object%}
        <h1  class="ml-10 mt-10 text-8xl font-bold leading-loose">Edit {{object.name}}</h1>
    {% else %}
        <h1 class="ml-10 mt-10 text-8xl font-bold leading-loose">Create Group</h1>
    {% endif %}
</div>
<div class="col-start-3 col-span-2 m-15 ">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{form|crispy}}
        </table>
        <input class="btn btn-wide btn-outline btn-success text-black mt-5" type="submit" value="Submit">
    </form>
</div>
{% endblock%}


