{% extends 'base.html'%}
{% block content%}

<h1>{{group.name}} Details</h1>
    <div class="card">
        <div class="card-content">
            <h3 class="card-title">{{ group.name }}</h3>
        </div>
        <div class="card-action">
            <a href="{% url 'group_update' group.id %}">Edit</a>
            <a href="{% url 'group_delete' group.id %}">Delete</a>
        </div>
    </div>
    <!-- Topic form -->
    <div>
        <form action="{% url 'topic_create' group.id %}" method="POST">
            {% csrf_token %}
            {{ topic_form.as_p }}
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
    <div>
        {% for topic in group.topic_set.all %}
            <h2> {{ topic.name }} </h2>
            <a href="{% url 'topic_update' topic.id %}">Edit</a>
            <a href="{% url 'topic_delete' topic.id %}">Delete</a>
        {% endfor %}
    </div>

    </div>

{% endblock %}