{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}


<div class="col-start-2 col-span-2 m-10">
    {% if object%}
        <h1  class="ml-10 mt-10 text-8xl font-bold leading-loose">Edit<br><span class="underline italic decoration-solid">{{ object.name }}</span></h1>
    {% endif %}
</div>
<div class="col-start-4 col-span-2 mt-10 flex flex-col justify-center">
    <form class="mt-10 text-xl" action="" method="POST">
        {% csrf_token %}
        <table>
        {{form|crispy}}
        </table>
        <input class="btn btn-lg btn-wide btn-outline btn-success text-black mt-5" type="submit" value="Submit">
    </form>
</div>
{% endblock%}


