{% extends 'base.html'%}
{% block content%}

<h1>{{group.name}} Details</h1>
    <div class="card">
        <div class="card-content">
            <h3 class="card-title">{{ group.name }}</h3>
        </div>
        <div class="card-action">
            <a href="{% url 'group_update' group.id %}">Edit</a>
            <a href="{% url 'group_delete' group.id %}">Delete</a>
        </div>
    </div>
    <!-- Topic form -->
    <div>
        <form action="{% url 'topic_create' group.id %}" method="POST">
            {% csrf_token %}
            {{ topic_form.as_p }}
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
    <div>
        {% for topic in topics %}
            <h2> {{ topic.name }} </h2>
            <div>
                <form action="{% url 'post_create' group.id topic.id %}" enctype="multipart/form-data" method="POST" >
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <input type="file" name="photo-file">
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
            <div>
                {% for post in topic.post_set.all %}
                    <p>{{post.content}}</p>
                    </div>
                    <!-- Insert photo markup below this comment -->
                    <img  src="{{post.image_url}}">
                    <h1>{{post.image_url}}</h1>
                    <h1>{{post.user}}</h1>

                   
                    <form  action="{% url 'create_like' group.id post.id%}" method="POST">
                        {%csrf_token%}
                        <button type="submit">like</button>
                    </form>
                    <p>Like: {{post.like_set.count}}</p>

                    <a href="{% url 'post_update' post.id %}">Edit</a>
                    <a href="{% url 'post_delete' post.id %}">Delete</a>
                {%endfor%}
            </div>
            <a href="{% url 'topic_update' topic.id %}">Edit</a>
            <a href="{% url 'topic_delete' topic.id %}">Delete</a>
            <h1>{{topic.createdAt}}</h1>
        {% endfor %}
    </div>

    </div>

{% endblock %}