{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

<div class="col-start-2 col-span-3 ml-5">
    <h1 class="ml-10 mt-10 text-7xl font-bold  capitalize leading-loose ">Are you sure you want to delete<span class="underline italic decoration-solid">{{ object.name }}</span>?</h1>
</div>
<div class="col-start-6 col-span-3 mt-3 flex flex-col justify-center">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy}}
        <div class="mt-6">
            <input type="submit" value="Delete" class="btn btn-lg btn-error btn-wide m-6">
            <a class="btn btn-lg btn-wide btn-warning m-6" href="{% url 'group_list' object.id %}">Cancel</a>
        </div>
    </form>
</div>


{% endblock %}