{% extends 'base.html' %}
{% block content %}

<h1 class="text-5xl font-bold text-center text-black m-10 ">Interest List</h1>

<div class="'flex flex-row space-x-4">
  {% if interest_list  %}
    {% for interest in interest_list %}
      <h1>{{ interest.id }}</h1>
      <a href="{% url 'group_list' interest.id %}">

        <div class="card w-96 glass flex-grow" ">
          <div class="card-body items-center text-center">
            <span class="card-title">{{ interest.name }}</span>
          </div>
        </div>
      </a>
      {% endfor %}
  {% else %}
    <h4 class="text-4xl dark:text-black">The Interest List is empty</h4>
    <h3 class="text-3xl dark:text-black">Create an Interest Below </h3>
  {% endif %}
  <div class="flex justify-center mt-4">
    <a class="btn btn-neutral m-6" href="{% url 'interest_create' %}">Create an Interest</a>
  </div>
</div>
{% endblock %}

