{% extends 'base.html' %}
{% block content %}
<div class="hidden xl:block xl:col-span-2 mt-5 ml-5 relative min-w-fit">
    <div class="flex flex-col gap-5 sticky top-[8rem] bottom-0 left-3 ">
        <div class="row-span-2">
            <div class="w-[355px]  p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8  dark:bg-gray-800 dark:border-gray-700">
                <div><h1 class="mb-4 text-xl font-extrabold text-gray-900 dark:text-white md:text-xl lg:text-3xl"><span class="text-transparent text-4xl font-bold bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Groups created</span></h1></div>
                <div class="mt-3 h-60">
                    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
                        <ul class="space-y-2 font-medium">
                            {% for group in groups%}  
                                <li>
                                    <a href="{%url 'group_detail' group.id%}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                        <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                                            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                                        </svg>
                                        <span class="ml-3">{{group.name}}</span>
                                    </a>
                                </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[355px]">
            <h1 class="text-3xl font-bold ml-3  ">Code of Conduct</h1>
            <ol class="mt-5 text-lg">
                <li class="flex items-center ml-3 ">
                    <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    Be civil and respectful
                </li>
                <li class="flex items-center  ml-3 ">
                    <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    Posts must be related to the interest
                </li>
                <li class="flex items-center ml-3 ">
                    <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    No advertising, sponsored content or marketing
                </li>
                <li class="flex items-center ml-3 ">
                    <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    No hate speech
                </li> 
            </ol>
        </div>
    </div>
</div>
<div class="col-start-2 xl:col-start-4 col-end-9 mb-40 ">
    <div class="flex justify-between items-center mt-10 mb-10">
        <h1 class="text-7xl font-bold text-center text-center text-black  text-transparent text-4xl font-bold bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400" ">Interest List</h1>
        <a class="btn bg-white dark:bg-gray-800  btn-neutral  " href="{% url 'interest_create' %}">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 5.757v8.486M5.757 10h8.486M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
        </a>
    </div>
    <div class="flex flex-col space-x-4 gap-4">
        <div class=" grid md:grid-cols-2  xl:grid-cols-2 gap-4">
            {% if interest_list  %}
                    {% for interest in interest_list %}
                        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 h-fit  relative">
                          <a href="{%url 'group_list' interest.id%}" class="h-full w-full">
                                <div class="flex p-6 flex-col  p-4 leading-normal w-full">
                                        <h5 class=" text-4xl font-bold tracking-tight text-gray-900 dark:text-white">{{interest.name}}</h5>
                                        <div class="h-32 flex items-center">
                                        <p class="mb-3 mt-4 font-normal text-gray-700 dark:text-gray-400">{{interest.description}}</p>
                                      </div>
                                </div>
                              </a>
                              {%if interest.owner_id == user_id%}
                                        <div class="dropdown dropdown-end absolute right-0 top-0 ">
                                                <label tabindex="0" class="btn bg-white  dark:bg-gray-800  border-0 bg- m-1"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                                </svg></label>
                                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                                <li>
                                                    <a href="{%url 'interest_update' interest.id%}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                                                </li>
                                                
                                                <li>
                                                    <a href="{%url 'interest_delete' interest.id%}" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                                </li>
                                                </ul>
                                        </div>
                                        {%endif%}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            <h4 class=" col-start-4 col-end-8 text-4xl dark:text-white m-5 ">The Interest List is empty</h4>
            <h3 class=" col-start-4 col-end-8 text-3xl dark:text-white">Create an Interest Below </h3>
        {% endif %}
    </div>
</div class="mb-20">
{% endblock %}
