{% extends 'base.html'%}
{% block content%}


<div class="col-start-2 col-end-9">
    <h1 class="text-transparent text-7xl text-center font-bold bg-clip-text bg-gradient-to-r to-emerald-600 mt-10 mb-10 from-sky-400">Groups Joined</h1>
    
    <div class="col-span-8 mt-15">
        {% if member  %}
            <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4 mb-40">
                {% for el in member %}
                    <div class="w-full max-w-lg bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 relative">
                        <div class="dropdown dropdown-end absolute right-0 top-0">
                            <label tabindex="0" class="btn bg-white border-0  dark:bg-gray-800  m-1"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                            </svg></label>
                            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                <li>
                                    <a href="{%url 'group_update' el.group.id%}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                                </li>
                                <li>
                                    <a href="{%url 'group_delete' el.group.id%}" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-10 flex flex-col items-center pb-10">
                          {%if el.group.image_url|slice:"0:5" == "https"%}
                          <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{el.group.image_url}}" alt="Bonnie image"/>
                          {%else%}
                          <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../../static/images/random_group_image/{{el.group.image_url}}" alt="Bonnie image"/>
                          {%endif%}
                            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ el.group.name }}</h5>
                            <div class="flex mt-4 space-x-3 md:mt-6">      
                                <a href="{%url 'group_detail' el.group.id%}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">next</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h4 class="text-center text-4xl capitalize mt-20 dark:text-black">You're not a member of any groups yet</h4>
        {% endif %}
    </div>
</div>


{% endblock %}