{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

<div class="col-start-2 col-span-8 flex items-center justify-center mb-40 mr-20">
    <div class="col-start-2 col-span-3 mr-5 max-w-xl">
        {% if object%}
            <h1 class="ml-10 leading-none mb-10 text-8xl font-bold leading-loose">Edit Post</h1>
        {% endif %}
    </div>
    <div class="col-start-6 col-span-2 flex flex-col ml-20 mb-20">
        <form class=" text-xl mt-10" action="" method="POST">
            {% csrf_token %}
            <table>
            {{form|crispy}}
            </table>
            <input class="btn btn-lg btn-wide btn-outline btn-success text-black mt-5" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock%}
