{% extends 'base.html' %}
{% block content %}


<div class="col-start-3 col-span-2 ml-5 mt-10">
    <h1 class="ml-10 mt-10 text-5xl font-bold capitalize leading-loose">Are you sure you want to delete<br><span class="underline italic decoration-solid">{{ object.name }}</span>?</h1> 
</div>

<div class="col-start-6 col-span-3 mt-10 flex flex-col justify-center">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mt-6 ">
            <input class=" btn btn-lg btn-error btn-wide m-6" type="submit" value="Delete" class="btn">
            <a class="btn btn-lg btn-wide btn-warning m-6" href="{% url 'group_detail' topic.group_id %}">Cancel</a>
        </div>
    </form>
</div>


{% endblock %}