{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content%}

<div class="col-start-1 col-span-2 items-center">

    <h1 class="ml-10 mt-10 text-5xl font-bold leading-loose ">Join the Summit<br>SIGN IN </h1>
</div>

<div class="col-start-3 col-span-2 mt-10 ">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-wide btn-outline btn-success text-black">Log In</button>
    </form>


</div>    




{% endblock%}