{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{%  block content %}

<div class="col-start-1 col-span-2 ">
    <h4 class="ml-10 mt-10 text-4xl p-2">Where Bytes and Banter Combine </h4>
    <h1 class="ml-10 mt-10 text-8xl font-bold leading-loose">Sign Up</h1>
        
    <p class="red-text">{{error_message}}</p>
</div>

<div class="col-start-3 col-span-2 mt-10 ">
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-wide btn-outline btn-success text-black">Sign up</button>
    </form>

</div>
{% endblock%}
