{% extends 'base.html'%}
{%  block content%}


<div class="hero bg-[url('../static/images/summit-bg.png')] col-span-10">
    <div class="hero-content text-center text-base-content">
        <div class="w-full mb-20">
            <div class="items-center p-4 wd-60 rounded-3xl bg-slate-900/50 shadow-2xl">
                <h1 class="m-10 text-8xl drop-shadow-xl tracking-widest font-extrabold text-white text-center">What is Summit?</h1>
                <p class="mb-10 text-xl text-center text-white">Summit is dedicated to fostering meaningful connections among individuals from all walks of life.<br><br>
                Our mission is to provide a welcoming and inclusive online forum where diverse voices converge to share knowledge, exchange ideas, and explore perspectives. We believe in the power of dialogue to inspire personal growth. Our platform is committed to cultivating an environment where respectful discourse thrives, promoting empathy, understanding, and collaboration.<br><br>
                Together, let's reach new heights in conversation and connection at Summit.</p><br><br>
                <h1 class="m-10 text-6xl drop-shadow-xl tracking-widest font-extrabold text-white text-center">The Team</h1>
                <p class="mb-10 text-xl text-center text-white">Bharat Chandran<br>Nick Pogonowski<br>Toby Chantharasy</p>
            </div>
        </div>
    </div>
</div> 


{%  endblock%}