<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summit</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar">
        <nav>
            <div class="">
                <ul>
                    <li><a href="{% %}">Summit</a></li>
                    <li><a href="{% %}">About</a></li>
                    <!-- {% if user.is_authenticated %} -->
                        <li><a href="{% %}">Interests</a></li>
                        <li><a href="{% %}">Groups</a></li>
                    <!-- User index page  -->
                    <li><a href="{% %}">Profile</a></li>  
                    <li><a href="{% %}">Log out </a></li>
                    <!-- {% else %} -->
                        <li><a href="{% %}">Sign Up</a></li>
                        <li><a href="{% %}">Log In </a></li>
                    <!--{% endif%}  -->
                </ul>
            </div> 
        </nav>
    </header>
    <main class="">
        {% block content%}
        {% endblock %}
    </main>
    <footer class="footer">
        <div>Reach A New Summit</div>
        <div>Summit </div>
    </footer>

    
</body>
</html>