<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summit</title>

</head>
<body>
    <header class="navbar">
        <nav>
            <div class="">
                <ul>
                    <li><a href="{%url 'home'%}">Summit</a></li>
                    <li><a href="">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{%url 'interest_list'%}">Interests</a></li>
                        <li><a href="">Groups</a></li>
                    <li><a href="">Profile</a></li>  
                    <li><a href="{%url 'logout' %}">Log out </a></li>
                    {% else %}
                        <li><a href="">Sign Up</a></li>
                        <li><a href="{%url 'login' %}">Log In </a></li>
                    {% endif%} 
                </ul>
            </div> 
        </nav>
    </header>
    <main class="">
        {% block content%}
        {% endblock %}
    </main>
    <footer class="footer">
        <div>Reach A New Summit</div>
        <div>Summit </div>
    </footer>

    
</body>
</html>