{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summit</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <div class="relative">
    <header class="h-[10vh] sticky top-0 z-40 h-24 w-full">
        <div class="navbar bg-neutral text-neutral-content">
            <div class="navbar-start flex items-center space-x-4">
                <div class="dropdown  ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </label>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 text-black rounded-box w-52">
                        <li><a href="">About</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{%url 'interest_list'%}">Interests</a></li>
                            <li><a href="">Groups</a></li>
                        <li><a href="">Profile</a></li>  
                        <li><a href="{%url 'logout' %}">Log out </a></li>
                        {% else %}
                            <li><a href="">Sign Up</a></li>
                            <li><a href="{%url 'login' %}">Log In </a></li>
                        {% endif%} 
                    </ul>
                </div>
                <a class="btn btn-ghost normal-case text-xl" href="{%url 'home'%}">SUMMIT</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-5">
                    <li><a href="">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{%url 'interest_list'%}">Interests</a></li>
                        <li><a href="{%url 'mygroup_index'%}">MyGroups</a></li>
                        <li><a href="">Profile</a></li>  
                        <li><a href="{%url 'logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{%url 'signup' %}">Sign Up</a></li>
                        <li><a href="{%url 'login' %}">Log In</a></li>
                    {% endif%} 
                </ul>
            </div>
        </div>
    </header>
    <main class="w-screen flex-1 flex flex-col">
        
        <div class="grid grid-cols-10 flex-1">
        {% block content%}
        {% endblock %}
        </div>
    </main>
    <footer class="footer items-center p-4 bg-neutral text-neutral-content h-[10vh]">
        <div class="items-center grid-flow-col">
        <h3 width="150" height="100" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd" class="fill-current text-6xl ">△</h3> 
        <p>Reach A New Summit<br/>Summit © 2023 All right reserved</p>
        </div>
    </footer>
</div>
</body>
</html>

