{% extends 'base.html'%}
{%  block content%}


<div class="hero bg-[url('../static/images/summit-bg.png')] col-span-10">
  <div class="hero-content text-center text-base-content">
    <div class="w-4/5 ">
      <div class="items-center p-4 wd-60 rounded-full bg-slate-900/50 shadow-2xl">
        <h1 class="m-10 text-8xl drop-shadow-xl tracking-widest font-extrabold text-white text-center">SUMMIT</h1>
        <p class="mb-10 text-2xl text-center text-white italic">Welcome to the newest community driven platform built for developers by developers.<br><br> A place where you can elevate your coding conversations! </p>
        <div class="join space-x-1">
          <a class="m-5 text-lg rounded-full btn btn-lg" href="{% url 'signup' %}">Sign Up</a>
          <a class="m-5 text-lg rounded-full btn btn-lg" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
  </div> 

{%  endblock%}