body {
    min-height: 100vh;
}

label{
    font-size: 1.6rem;
}

input[type="text"], textarea, input[type='number']{
    background: rgba(123, 115, 115, 0.2) !important;
    /* border: 1px solid  rgba(255, 255, 255, 0.2); !important
    margin-top: 2rem; !important; */   
}

input[type='submit']{
    font-size:15px;
    width:120px;
    height:45px;
    margin-top: 6px;
    color:#fff;
    border-color:#4e6096;
    border-radius: 10px;

    background: black
}